table.formular td {
   padding-bottom: 1em;
   padding-left: 1em;
}

.ok
{
    background-color: #BCED91;
    width: 100%;
    border: 1px solid #8CDD81;
}

.notOk
{
    background-color: #EE6363;
    width: 100%;
    border: 1px solid #9D1309;
}
